@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base{
  h1{
    font-size: 1.75rem;
    line-height: 1.43;
    font-weight:700;
    color: #f0f2da;
    margin: 0;
  }
  h3{
    font-size: 14px;
    line-height: 1.43;
    font-weight:700;
    color: #f0f2da;
    margin: 0;
  }
  table tr, td, th{
    border-bottom:  1px solid #313442;
    padding: 12px;
    font-size: 14px;
    text-align: start;
    white-space: nowrap;
    color: #f0f2da;
    flex: 1;
    min-width: 0;
  }
  .myInputWrap{
    overflow: hidden;
    display: inline-flex;
    flex-grow: 1;
    position: relative;
    padding-left: 12px;
    padding-right: 12px;
    max-width: 100%;
    cursor: text;
    line-height: 1.5;
    z-index: auto;
    outline: none;
    box-sizing: border-box;
    position: relative;
    display: inline-flex;
    border-radius: 8px;
    background-color: #1e212b;
    font-size: 14px;
  }
  .myInput {
    overflow: hidden;
    display: inline-flex;
    flex-grow: 1;
    position: relative;
    padding-left: 12px;
    padding-right: 12px;
    max-width: 100%;
    cursor: text;
    line-height: 1.5;
    z-index: auto;
    outline: none;
    box-sizing: border-box;
    position: relative;
    display: inline-flex;
    border-radius: 8px;
    background-color: #1e212b;
    font-size: 14px;
    padding: 0;
    height: 40px;
    line-height: 40px;
    width: 100%;
    min-width: 0;
    text-decoration-color: #ffffffd1;
    color: #f0f2da;
    caret-color: #f0f2da;
    background-color: transparent;
  }
  .refreshButton {
    margin: 0;
    font-weight: var(--n-font-weight);
    line-height: 1;
    padding: 6px 10px;
    height: 40px;
    font-size: 14px;
    border-radius: 8px;
    color: #ffffffd1;
    background-color: transparent;
    white-space: nowrap;
    outline: none;
    position: relative;
    z-index: auto;
    border: 1px solid #313442;
    display: inline-flex;
    flex-wrap: nowrap;
    flex-shrink: 0;
    align-items: center;
    justify-content: center;
    user-select: none;
    -webkit-user-select: none;
    text-align: center;
    cursor: pointer;
    text-decoration: none;
  }
  .addButton {
    margin: 0;
    font-weight: var(--n-font-weight);
    line-height: 1;
    font-family: inherit;
    padding: 6px 10px;
    height: 40px;
    font-size: 14px;
    border-radius: 8px;
    color: #f9ff73;
    background-color: transparent;
    white-space: nowrap;
    outline: none;
    position: relative;
    z-index: auto;
    border: 1px solid #313442;
    display: inline-flex;
    flex-wrap: nowrap;
    flex-shrink: 0;
    align-items: center;
    justify-content: center;
    user-select: none;
    -webkit-user-select: none;
    text-align: center;
    cursor: pointer;
    text-decoration: none;
  }
  .modal-mask {
    position: fixed;
    z-index: 9998;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: table;
    transition: opacity 0.3s ease;
  }
  
  .modal-wrapper {
    display: table-cell;
    vertical-align: middle;
  }
  
  .modal-container {
    width: 300px;
    margin: 0px auto;
    padding: 20px 30px;
    background-color: #141721;
    border-radius: 2px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.33);
    transition: all 0.3s ease;
    font-family: Helvetica, Arial, sans-serif;
  }
  
  .modal-header h3 {
    margin-top: 0;
  }
  
  .modal-body {
    margin: 20px 0;
  }
  .modal-body p {
    color: #9d9e91;
    font-size: .875rem;
  }
  .modal-body span {
    align-items: center;
    line-height: 1.25;
    font-size: 12px;
    color: #f0f2da;
    font-weight: 400;
  }
}